server:
  host: 0.0.0.0
  port: 9000
metrics:
  path: /prometheus
  port: 9001
mysql:
  host: 
  port: 
  user: 
  password: 
  dbname: 
  maxconn: 20
  maxidleconn: 5
  charset: utf8mb4
  showsql: true
redis:
  host: 
  port: 
mongodb:
  host: 
  port: 